In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
dataset=open(r"C:\Users\Pandu\Desktop\bharat\House-Price-Prediction-clean.csv")

In [4]:
d=pd.read_csv(r"C:\Users\Pandu\Desktop\bharat\House-Price-Prediction-clean.csv")
d

,Id,MSSubClass,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,BsmtFinSF1,BsmtUnfSF,TotalBsmtSF,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,1,60,8450,7,5,2003,2003,706,150,856,...,0,61,0,0,0,0,0,2,2008,208500
1,2,20,9600,6,8,1976,1976,978,284,1262,...,298,0,0,0,0,0,0,5,2007,181500
2,3,60,11250,7,5,2001,2002,486,434,920,...,0,42,0,0,0,0,0,9,2008,223500
3,4,70,9550,7,5,1915,1970,216,540,756,...,0,35,272,0,0,0,0,2,2006,140000
4,5,60,14260,8,5,2000,2000,655,490,1145,...,192,84,0,0,0,0,0,12,2008,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,7917,6,5,1999,2000,0,953,953,...,0,40,0,0,0,0,0,8,2007,175000
1456,1457,20,13175,6,6,1978,1988,790,589,1542,...,349,0,0,0,0,0,0,2,2010,210000
1457,1458,70,9042,7,9,1941,2006,275,877,1152,...,0,60,0,0,0,0,2500,5,2010,266500
1458,1459,20,9717,5,6,1950,1996,49,0,1078,...,366,0,112,0,0,0,0,4,2010,142125
1459,1460,20,9937,5,6,1965,1965,830,136,1256,...,736,68,0,0,0,0,0,6,2008,147500

In [5]:
d.head(5)

,Id,MSSubClass,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,BsmtFinSF1,BsmtUnfSF,TotalBsmtSF,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,1,60,8450,7,5,2003,2003,706,150,856,...,0,61,0,0,0,0,0,2,2008,208500
1,2,20,9600,6,8,1976,1976,978,284,1262,...,298,0,0,0,0,0,0,5,2007,181500
2,3,60,11250,7,5,2001,2002,486,434,920,...,0,42,0,0,0,0,0,9,2008,223500
3,4,70,9550,7,5,1915,1970,216,540,756,...,0,35,272,0,0,0,0,2,2006,140000
4,5,60,14260,8,5,2000,2000,655,490,1145,...,192,84,0,0,0,0,0,12,2008,250000

In [6]:
d.shape

(1460, 32)

In [7]:
obj=(d.dtypes=='object')
o_col=list(obj[obj].index)
print("categorical variables:",len(o_col))

categorical variables: 0

In [8]:
o_col

[]

In [9]:
int_=(d.dtypes=='int')
n_col=list(int_[int_].index)
print("integer variables:",len(n_col))

integer variables: 0

In [10]:
n_col

[]

In [11]:
d.isnull().sum()
d.drop(['MSSubClass'],axis='columns',inplace=True)

In [12]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 31 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   LotArea        1460 non-null   int64
 2   OverallQual    1460 non-null   int64
 3   OverallCond    1460 non-null   int64
 4   YearBuilt      1460 non-null   int64
 5   YearRemodAdd   1460 non-null   int64
 6   BsmtFinSF1     1460 non-null   int64
 7   BsmtUnfSF      1460 non-null   int64
 8   TotalBsmtSF    1460 non-null   int64
 9   1stFlrSF       1460 non-null   int64
 10  2ndFlrSF       1460 non-null   int64
 11  GrLivArea      1460 non-null   int64
 12  BsmtFullBath   1460 non-null   int64
 13  FullBath       1460 non-null   int64
 14  HalfBath       1460 non-null   int64
 15  BedroomAbvGr   1460 non-null   int64
 16  KitchenAbvGr   1460 non-null   int64
 17  TotRmsAbvGrd   1460 non-null   int64
 18  Fireplaces     1460 non-null   int64
 19  GarageCars     1460 non-null   int64
 20  GarageArea     1460 non-null   int64
 21  WoodDeckSF     1460 non-null   int64
 22  OpenPorchSF    1460 non-null   int64
 23  EnclosedPorch  1460 non-null   int64
 24  3SsnPorch      1460 non-null   int64
 25  ScreenPorch    1460 non-null   int64
 26  PoolArea       1460 non-null   int64
 27  MiscVal        1460 non-null   int64
 28  MoSold         1460 non-null   int64
 29  YrSold         1460 non-null   int64
 30  SalePrice      1460 non-null   int64
dtypes: int64(31)
memory usage: 353.7 KB

In [13]:
fl=(d.dtypes=='float')
f_col=list(fl[fl].index)
print("float variables:",len(f_col))

float variables: 0

In [14]:
f_col

[]

In [15]:
plt.figure(figsize=(12,6))
#load data into a DataFrame object:
df = pd.DataFrame(d)

In [ ]:
sns.pairplot(d)

In [ ]:
sns.distplot(d['SalePrice'])

In [ ]:
plt.figure(figsize=(18, 36))
plt.title('Categorical Features: Distribution')
plt.xticks(rotation=90)
index = 1

for col in o_col:
	y = d[col].value_counts()
	plt.subplot(11, 4, index)
	plt.xticks(rotation=90)
	sns.barplot(x=list(y.index), y=y)
	index += 1

In [ ]:
d['SalePrice'] = d['SalePrice'].fillna(
d['SalePrice'].mean())

In [ ]:
 nd= d.dropna()

In [ ]:
nd

In [ ]:

nd.isnull().sum()

In [ ]:
from sklearn.preprocessing import OneHotEncoder

s = (nd.dtypes == 'object')
o_col= list(s[s].index)
print("Categorical variables:")
print(o_col)
print('No. of. categorical features: ',
	len(o_col))

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
y=d[['SalePrice']].values
x=d.drop(['Id','SalePrice'],axis=1).values

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [ ]:
li=LinearRegression()
li.fit(x_train,y_train)

In [ ]:
y_predict=li.predict(x_test)
print(y_predict)
print(y_test)

In [ ]:
print('Coefficient of determination: %.3f' % r2_score(y_test,y_predict))